@model IEnumerable<CartItemModel>

<h1>Cart</h1>

<p>
    <a asp-action="ClearCart"><i class="bi bi-cart-x-fill fs-5" ></i> Clear Cart</a>
</p>

@if (TempData["Message"] is not null)
{
    <p class="text-success">@TempData["Message"]</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SilverScreenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SilverScreenName)
                </td>
                <td>
                    @item.Price.ToString("C2")
                </td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-productId="@item.Id" ><i class="bi bi-cart-dash fs-5"></i> Remove from Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>