@model SilverScreen

<div class="col-md-3">
    <div class="card mb-3">
        <img src="~/img/@Model.ImageUrl" alt="@Model.Name" />
        <div class="card-body">
            <h4 class="card-title">
                <a  style="color:black">@Model.Name</a>
            </h4>
            <small class="text-muted">
                <i class="fas fa-lira-sign"></i> @Model.Price
            </small>
        </div>
        <div class="card-footer text-center">
            <a asp-controller="SilverScreen" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm">Details</a>
            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm md-5">Add To Cart</a>
                    
        </div>
    </div>
</div>
